body {
    font-size: 14px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.42857143;
    background-color: #fff;
}
.jumbotron {
    padding: 0;
}
.navbar {
    margin-bottom: 0px;
}
.jumbotron {
    background-color: #BBB;
}
.sourceCode .kw {
    color: #268BD2;
}
.sourceCode .dt {
    color: #268BD2;
}
.sourceCode .dv, .sourceCode .bn, .sourceCode .fl {
    color: #D33682;
}
.sourceCode .ch {
    color: #DC322F;
}
.sourceCode .st {
    color: #2AA198;
}
.sourceCode .co {
    color: #93A1A1;
}
.sourceCode .ot {
    color: #A57800;
}
.sourceCode .al {
    color: #CB4B16;
    font-weight: bold;
}
.sourceCode .fu {
    color: #268BD2;
}
.sourceCode .re {
;
}
.sourceCode .er {
    color: #D30102;
    font-weight: bold;
}
address {
    float: left;
    clear: both;
}
address strong {
    display: inline-block;
    float: left;
}
address span {
    display: inline-block;
    float: left;
    clear: both;
}
/* spip CSS (status.html) */
.spip-main {
  margin-left: 1em;
}
.spip-main ul {
   margin-left: 1em;
}
.spip {
}

/* Page version.html */
dl.adafr-version {
    float: left;
    width: 95%;
    padding: 1%;
    margin-bottom: 1em;
    margin-top: 1em;
}
dl.adafr-version dt {
    clear: both;
    float: left;
    width: 20%;
    padding-bottom: 0.5em;
}
dl.adafr-version dd {
    float: left;
    width: 69%;
}

/* Adaptations from AWA */
#awa-page {
    min-height: inherit;
}
.adafr-index #awa-content {
    padding-top: 0;
}
#awa-content {
    padding-top: 2em;
}
dl.awa-error dt label, dl.asf-error dt label {
    color: #555;
}
.awa-login-yahoo, .awa-login-orange {
    display: none;
}
div.awa-error {
   margin-top: 1em;
}
.awa-nav {
    margin-top: 2em;
}
div.blog-post-tag-info h2 {
    background: inherit;
    color: inherit;
    font-size: inherit;
    font-weight: bold;
}
div.blog-post div.post-title {
    background: inherit;
    padding-left: 0;
}
div.blog-post div.post-title h2 a {
    color: #333;
    font-size: 30px;
}
div.blog-post div.post-title h2 a:hover {
    color: #337ab7;
}
div.blog-post div.post-title {
    border-color: #333;
}
div.blog-post {
    padding-left: 0;
}
.tagedit-list li.tagedit-listelement-old {
    background-color: #eee;
}
.tagedit-list li.tagedit-listelement a {
    color: #222;
}
div.blog-post-info h2 {
    width: 100%;
    float: left;
    background-color: #0043a1;
    color: #fff;
    padding: 0.5em;
    font-weight: bold;
    background: linear-gradient(to right,#0043a1,#4477cc);
}
.blog-post-info nav {
    float: left;
    background-color: #fff;
}
.blog-post-info .awa-nav {
    border: none;
}
div.post-comments h3 {
    color: #333;
}
.wiki-title h2 {
    margin-top: 0;
}
@media screen and (max-width: 768px) {
    @-ms-viewport { width: 320px; }
    .wiki-page-container .grid_2, .wiki-page-container .grid_10,
    .tagedit-list, .container_12 .grid_9, .container_12 .grid_3 {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .tagedit-list li.tagedit-listelement {
        float: right;
    }
    h3 {
        overflow: hidden;
        width: 100%;
    }
    div.post-text div {
        max-width: 95%;
        overflow: hidden;
    }
    div.container_12 div.vacs-demo {
        width: 100%;
    }
    div.awa-side1, div.awa-side2 {
        width: 100%;
        padding: 0;
    }
}
.invite-message {
    float: left;
    width: 100%;
}
div.awa-login .invite-message p {
    width: 98%;
    border: 1px solid #ccc;
    margin: 1%;
    padding: 1%;
    font-size: 1.2em;
}
ul.openid-invite {
    margin: 0;
}
ul.openid-invite li {
    margin-top: 10px;
    margin-bottom: 10px;
}