body {
    font-size: 14px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.42857143;
    background-color: #fff;
}
footer {
    background: #e7e7e7;
    margin-top: 0;
    padding-top: 1em;
    border-top: 1px solid #979797;
    height: auto;
}
.navbar {
    margin-bottom: 0px;
    border-bottom: 1px solid #979797;
    min-height: auto;
}
.awa-hamb-line::before {
    background: #00409A;
    height: 2px;
}
.awa-hamb-line {
    background: #00409A;
}
.awa-hamb-line::after{
    background: #00409A;
    height: 2px;
    top: -6px;
}
#nav-member,
.navbar .navbar-brand {
    color: #888;
    font-weight: bold;
    font-size: 18px;
}
.navbar-right li a, #nav-contact-li, #awa-logout, #nav-member {
    padding-top: 7px;
}
#nav-contact-li a, #awa-logout a, #nav-member a {
    height: auto;
}
.navbar .navbar-header {
    padding-left: 0px;
    list-style-type: none;
}
.navbar .navbar-header li {
    float: left;
}
.awa-menu li {
    background: transparent;
}
.awa-menu li a:hover {
    border-color: transparent;
}
@media (max-width: 768px) {
    .awa-menu li {
        display: none;
    background: #e7e7e7;
    }
}
.awa-side-nav {
    width: auto;
}
.awa-side-menu:checked ~ nav li {
    display: block;
}
.adafr-index #nav-index,
.page-wiki #nav-resources,
.page-news #nav-news,
.page-jobs #nav-jobs,
.page-members #nav-member,
.page-contact #nav-contact {
    color: #111;
    display: block;
}
.jumbotron {
    padding: 0;
    background-color: #BBB;
}
.jumbotron img {
    margin-left:auto;
    margin-right:auto;
}
.adafr-summary .col-md-4 {
    margin-top: 2em;
}
.adafr-summary .col-md-6 {
    margin-top: 2em;
}
.sourceCode .kw {
    color: #268BD2;
}
.sourceCode .dt {
    color: #268BD2;
}
.sourceCode .dv, .sourceCode .bn, .sourceCode .fl {
    color: #D33682;
}
.sourceCode .ch {
    color: #DC322F;
}
.sourceCode .st {
    color: #2AA198;
}
.sourceCode .co {
    color: #93A1A1;
}
.sourceCode .ot {
    color: #A57800;
}
.sourceCode .al {
    color: #CB4B16;
    font-weight: bold;
}
.sourceCode .fu {
    color: #268BD2;
}
.sourceCode .re {
}
.sourceCode .er {
    color: #D30102;
    font-weight: bold;
}
address {
    float: left;
    clear: both;
}
address strong {
    display: inline-block;
    float: left;
    padding-right: 1em;
}
address span {
    display: inline-block;
    float: left;
    clear: both;
}
/* spip CSS (status.html) */
.spip-main {
  margin-left: 1em;
}
.spip-main ul {
   margin-left: 1em;
}
.spip {
}

.workspace-main, .page-news main, .page-jobs main, .page-contact main, .page-wiki main {
    padding-top: 2em;
}

/* Page version.html */
dl.adafr-version {
    float: left;
    width: 95%;
    padding: 1%;
    margin-bottom: 1em;
    margin-top: 1em;
}
dl.adafr-version dt {
    clear: both;
    float: left;
    width: 20%;
    padding-bottom: 0.5em;
}
dl.adafr-version dd {
    float: left;
    width: 69%;
}

/* Association list and feeds. */
.assoc-list, .feed-list {
    margin-top: 0.5em;
    margin-bottom: 1em;
}
.feed-list .feed, .feed-list .adhesion, .feed-list .mailing-list {
    display: inline-block;
    background: url(../images/rss-feed-32x32.png) no-repeat;
    padding-right: 5px;
    padding-left: 38px;
    height: 32px;
    line-height: 32px;
    margin-bottom: 5px;
}
.feed-list .adhesion {
    background: url(../images/ada-france-icon.png) no-repeat;
    padding-left: 100px;
    height: 24px;
    line-height: 24px;
}
.feed-list .mailing-list {
    background: url(../images/mail-icon-32x32.png) no-repeat;
}
#nav-contact-footer {
    display: none;
}
.adafr-bureau {
    float: left;
    padding-bottom: 2em;
}
.adafr-bureau dt {
    float: left;
    clear: both;
    width: 200px;
    height: 24px;
}
.adafr-bureau dd {
    float: left;
}

.adafr-mailing-list dt {
    float: left;
    clear: both;
    width: 240px;
    height: 24px;
}
.adafr-mailing-list dd {
    float: left;
}

.adafr-subscribe {
    margin-top: 1em;
    margin-bottom: 1em;
    float: left;
}
.adafr-subscribe a {
    background: #dfeffc;
    color: #333;
}
#adafr-rib-table, #adafr-address {
    margin-top: 1em;
    margin-bottom: 1em;
}
.adafr-member-address {
    margin-top: 1em;
}

/* /adhesion */
#subscribe-steps {
    width: 100%;
    margin-bottom: 1em;
    float: left;
}
#subscribe-steps ul {
    list-style-type: none;
    float: left;
    clear: both;
    width: 100%;
    height: 40px;
}
#subscribe-steps li {
    float: left;
    padding: 0.5em;
    padding-right: 1em;
    padding-top: 0;
    width: 20%;
    height: 1.5em;
    text-align: center;
}
#subscribe-steps .step-graph {
    margin-top: 1em;
}
#subscribe-steps .step-graph li {
    border-bottom: 3px solid #f0f0f0;
    text-align: center;
    height: 15px; /* = 1/2 span height - border-bottm/2*/
    line-height: 32px; /* = span height */
}
.step-graph li span {
    display: inline-block;
    background: #f0f0f0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.subscribe-email #subscribe-email,
.subscribe-validate #subscribe-validate,
.subscribe-register #subscribe-register,
.subscribe-mode #subscribe-mode,
.subscribe-payment #subscribe-payment {
    font-weight: bold;
}
.subscribe-email #subscribe-graph-email span,
.subscribe-validate #subscribe-graph-validate span,
.subscribe-register #subscribe-graph-register span,
.subscribe-mode #subscribe-graph-mode span,
.subscribe-payment #subscribe-graph-payment span {
    font-weight: bold;
    background: #337ab7;
    color: #fff;
}
#address1, #address2 {
    margin-bottom: 0.5em;
}
#email-confirm {
    display: none;
}
#member-list-action {
    width: 300px;
}
#member-nav-filter {
    width: 25%;
    padding-top: 20px;
}
#member-nav-export {
    width: 100px;
    margin-right: 3%;
}
.member-list .ui-list-item {
    line-height: 32px;
    height: 32px;
}
.member-status, .member-title, .member-email, .member-role, .member-date {
    height: 32px;
}
.adafr-members .member-email {
    width: 20%;
    height: 32px;
}
.adafr-members .member-title {
    width: 15%;
    height: 32px;
}
.adafr-members .member-subscription {
    width: 15%;
    float: left;
    height: 32px;
}
.adafr-members .member-date {
    width: 10%;
    height: 32px;
}
.adafr-MEMBER_NONE {
}
.adafr-MEMBER_WAIT_PAYMENT {
}
.adafr-MEMBER_ADA_FRANCE .member-status {
    background: url(../images/ada-france-icon.png) no-repeat;
    height: 32px;
}
.adafr-MEMBER_ADA_EUROPE .member-status {
    background: url(../images/ada-europe-icon.png) no-repeat;
    height: 32px;
}
.adafr-expired {
    margin-left: 100px;
    background: url(../images/icon-expired-32.png) no-repeat;
    height: 32px;
    width: 32px;
    background-position: 0 -5px;
}
.adafr-member-expiration .adafr-expired {
    margin-left: 5px;
    height: 32px;
    width: 32px;
    background-position: 0 0;
}
.adafr-member-info dl {
    padding: 1em;
}
.adafr-member-info dl dt {
    clear: both;
    float: left;
    width: 150px;
}
.adafr-member-info dl dd {
    float: left;
    width: 70%;
}
.adafr-member-expiration div {
    float: left;
}
.adafr-member-title {
    float: left;
    padding-left: 1%;
}
.adafr-member-actions {
    float: right;
    list-style-type: none;
}
.adafr-member-actions li {
    float: left;
    padding-right: 2em;
}
.adafr-member-contribution-note {
    padding-top: 1em;
    float: left;
}
.adafr-members .history-date,
 .adafr-members .history-field,
 .adafr-members .history-old-value,
 .adafr-members .history-new-value,
 .adafr-members .history-author {
 width: 20%;
}
#adafr-member-history, #adafr-member-history-header {
    margin-left: 1%;
    margin-right: 1%;
    width: 98%;
}
#adafr-member-history-header {
    margin-top: 2em;
}

/* Adaptations from AWA */
.adafr-index main {
    padding-top: 0;
}
main {
    padding-top: 0;
    height: auto;
    position: inherit;
}
.awa-error dt label, .asf-error dt label {
    color: #555;
}
.awa-login-yahoo, .awa-login-orange {
    display: none;
}
div.awa-error {
   margin-top: 1em;
}
.awa-nav {
    margin-top: 1em;
    margin-bottom: 1em;
}
.awa-tag-input {
    background: #fff;
}
#awa-post-editor {
    border: none;
}
.blog-post-tag-info {
    border: none;
}
div.blog-post-tag-info h2 {
    background: inherit;
    color: inherit;
    font-size: inherit;
    font-weight: bold;
}
div.blog-post div.post-title {
    background: inherit;
    padding-left: 0;
    width: 100%;
}
div.blog-post div.post-title h2 a {
    color: #333;
    font-size: 30px;
}
div.blog-post div.post-title h2 a:hover {
    color: #337ab7;
}
div.blog-post div.post-title {
    border-color: #333;
}
div.post-text {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: inherit;
}
div.post-text pre.moz-quote-pre {
    background: none;
    border: none;
    font-family: inherit;
}
.tagedit-list li.tagedit-listelement-old {
    background-color: #eee;
}
.tagedit-list li.tagedit-listelement a {
    color: #222;
}
div.blog-post-tag-info, div.blog-post-info h2 {
    width: 100%;
    float: left;
    background-color: #0043a1;
    color: #fff;
    padding: 0.5em;
    font-weight: bold;
    background: linear-gradient(to right,#0043a1,#4477cc);
}
.blog-post-info nav {
    float: left;
    background-color: #fff;
}
.blog-post-info .awa-nav {
    border: none;
}
div.post-comments h3 {
    color: #333;
}
.wiki-title h2 {
    margin-top: 0;
}
.invite-message {
    float: left;
    width: 100%;
}
/* Fix conflict with bootstrap */
.post-text code {
    color: inherit;
    background: none;
}
div.awa-login .invite-message p {
    width: 98%;
    border: 1px solid #ccc;
    margin: 1%;
    padding: 1%;
    font-size: 1.2em;
}
ul.openid-invite {
    margin: 0;
}
ul.openid-invite li {
    margin-top: 10px;
    margin-bottom: 10px;
}
.editor-toolbar .table {
    width: auto;
}
.adafr-block {
    float: left;
    width: 45%;
    border: 1px solid #ccc;
    margin: 0.5em;
    padding: 0.5em;
    box-sizing: border-box;
    height: 300px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px 6px 6px 6px;
}
.adafr-block h3 {
    text-align: center;
}
.adafr-disqus {
    float: left;
    margin-top: 5em;
    width: 100%;
}
@media screen and (max-width: 600px) {
    @-ms-viewport { width: 320px; }
    #nav-member, .navbar .navbar-brand {
        font-size: 16px;
    }
}
@media (min-width: 600px) {
    .navbar-collapse.collapse {
        visibility: visible;
        display: block;
    }
    .navbar-right {
        margin-right: 0;
        float: right;
    }
    .navbar-header {
        float: left;
    }
}
@media screen and (max-width: 768px) {
    @-ms-viewport { width: 320px; }

    .navbar-right {
        margin-right: 0;
        float: right;
        width: 150px;
    }
    #nav-contact-li {
        display: none;
    }
    .col-md-3,
    .container_12 .grid_3 {
        margin-top: 1em;
    }
    .tagedit-list li.tagedit-listelement {
        float: right;
    }
    .adafr-block {
        width: 90%;
    }
    .navbar .navbar-brand {
        padding: 8px 8px;
    }
    #nav-contact-footer {
        display: block;
    }
    ul.awa-pagination li {
        margin-left: 5%;
        margin-right: 5%;
    }
}
